/* --header */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

:root {
  --header: 2em;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
}

html, body {
  height: 100%;
}

body {
  background: url('./seoul-street.jpg');
  background-size: contain;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(255, 253, 253, 0.9);
}


/* TABS */
.tab-container {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  padding: 20px;
}

.tab:hover {
  cursor: pointer;
  border-bottom: 3px solid green;
  transition: 0.3s;
}

.tab {
  height: 30px;
}

.current-tab {
  border-bottom: 3px solid green;
}

.header-content {
  color: rebeccapurple;
  display: flex;
  font-size: 2.5em;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  /* border: 3px solid greenyellow; */
  border-radius: 100%;
  transform: rotate(25deg);
  padding: 5px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding-bottom: 5px;
}
 /* HOME PAGE */

.introduction {
  justify-self: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.header {
  text-align: center;
  color: rebeccapurple;
  font-size: var(--header);
}

/* .food-image {
  width: 80%
} */

.introduction-text {
  font-size: large;
}


/* MENU PAGE */
.menu-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.menu-header {
  color: rebeccapurple;
  font-size: 3em;
}

.menu {
  background-color: rgb(39, 38, 38);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 1em 0;
}

.menu .menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.menu-item {
  display: flex;
  gap: 10px;
}

.menu-item-image {
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.section-header {
  padding: 3px;
  margin: 20px 0px;
  border-radius: 5px;
  font-size: x-large;
  background-color: darkorange;
}

.item-name {
  color: rgb(245, 215, 171);
}

.price {
  float: right;
  color: orange;
}

.item-description {
  width: 50%;
}

.google-map {
  margin: auto;
  max-width: 80%;
  width: 500px;
  height: 50vh;
}

.location-text {
  text-align: center;
  padding: 1em;
}

.menu-content.location-container {
}

a {
  text-decoration: none;
  color: green;

}